.page-main-container {
  width: 100%;
  margin: 0 auto;
}

/*Заголовок каталога*/
.main-title {
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 15px;
  padding: 0 60px;
  width: 1160px;
  font: 800 47px / 56.4px 'Gilroy', sans-serif;
  letter-spacing: 0.47px;
  color: rgba(0, 0, 0, 1);
}

/*Хлебные крошки под заголовком*/
.breadcrumbs {
  margin: 0 auto;
  margin-bottom: 50px;

  width: 1160px;
  padding: 0 60px;
  list-style-type: none;
  font-size: 0;
}

.breadcrumbs-item {
  opacity: 0.3;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

.breadcrumbs-item a {
  position: relative;
  margin-right: 10px;
  font: 300 14px / 36px 'Open Sans', sans-serif;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs-item a::after {
  position: absolute;
  right: -27px;
  display: inline-block;
  content: "〉";
  font: 400 14px / 36px 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-item p {
  margin: 0;
  font: 300 14px / 36px 'Open Sans', sans-serif;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3)
}

/*Контейнер с фильтром, сортировкой, пагинацией*/
.catalog {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  font-size: 0;
}

.catalog-filter-side {
  position: absolute;
  left: -100px;
  width: 468px;
  background-color: rgba(238, 238, 238, 1);
}

.filter-title {
  padding: 30px 60px;
  width: 100%;
  height: 70px;
  background-color: rgba(219, 219, 219, 1)
}

/*Блок с формой фильтрации*/
.catalog-filter {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  background-color: rgba(239, 239, 239, 1);
}

.form-filter {
  padding-left: 60px;
}

.form-filter span{
  font: 300 14px / 40px OpenSans, sans-serif;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 1);
}

.form-filter input{
  display: block;
}

/*Заголовок фильтра*/
.filter-title {
  margin: 0;
  font: 800 16px / 19.2px 'Gilroy', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 1)
}

.filter-txt {
  padding-top: 10px;
  font: 800 18px / 21.6px 'Gilroy', sans-serif;
  letter-spacing: 0.18px;
  color: rgba(0, 0, 0, 1);
  border-top: 2px solid rgba(0, 0, 0, 1);
}

.color-choose {
  display: block;
}

/*Блок с содержанием*/
.catalog-content {
  display: inline-block;
  vertical-align: top;
  width: 820px;
}

/*Инструменты сортировки*/
.catalog-sort {
  display: block;
  height: 70px;
  margin: 0;
  padding: 20px 60px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.08)

}

/*Заголовок сортировки*/
.catalog-sort-title {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  font: 800 16px / 19.2px 'Gilroy', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 1)
}

.catalog-sort-menu {
  display: inline-block;
  margin: 0;
  margin-right: 120px;
  padding-left: 0px;
  list-style-type: none;
  font-size: 0;
}

.sort-menu-item {
  display: inline-block;
  margin-right: 20px;
}

.sort-menu-item a {
  font: 300 14px / 36px 'Open Sans', sans-serif;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-menu-arrow-up {
  display: inline-block;
  width: 17px;
  height: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
}

.sort-menu-arrow-down {
  position: relative;
  top: 8px;
  display: inline-block;
  width: 17px;
  height: 9px;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.2);
}

/*Контейнер с выдачей товаров*/
.catalog-items {
  display: block;
  padding: 60px 0 60px 60px;
}

/*Карточка товара*/
.item-inner {
  position: relative;
  margin-bottom: 30px;
}

.item-to-basket {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.item-to-basket-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.item-to-basket .btn {
  /*display: none;*/
  margin-bottom: 0;
  margin-top: 40px;
}


.btn-basket-txt-wrap {
  position: relative;
}

.btn-stroke-basket {
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: block;
  width: 200px;
  height: 8px;
  background-color: rgba(240, 197, 46, 1);
  transition: height .2s;
}

.item-to-basket .btn:hover .btn-stroke-basket {
  height: 100%;
}

.add-to-compare {
  font: 300 13px / 36px 'Open Sans', sans-serif;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-bottom: 40px;
  font-size: 0;
}

.catalog-item:hover {
  cursor: pointer;
}

.catalog-item:hover .item-to-basket {
  display: block;
}

.catalog-item:nth-of-type(odd) {
  margin-right: 40px;
}

.catalog-item img {
  display: block;
}

.item-name {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 72%;
  font: 800 18px / 21.6px Gilroy, sans-serif;
  letter-spacing: 0.18px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.item-price {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font: 300 16px / 19.2px Gilroy, sans-serif;
  letter-spacing: 0.16px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/*Контейнер с пагинацией*/
.pagination-items {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  width: auto;
  height: 70px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.08)
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}

.pagination-item:first-of-type {
  margin-right: 200px;
}

.pagination-item:nth-of-type(4) {
  margin-right: 200px;
}

.pagination-items a {
  font: 800 16px / 19.2px Gilroy, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 1)
}
