.main-footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(70, 70, 70, 1);
}

.footer-container {
  margin: 0 auto;
  padding-top: 65px;
  width: 1160px;
  min-height: 323px;
  background-color: rgba(70, 70, 70, 1);
}

.footer-user-block {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 1160px;
  font-size: 0px;
}

.footer-logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 678px;
}

.footer-user-block .user-block-login {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.footer-user-block .user-block-compare {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.footer-user-block .user-block-basket {
  display: inline-block;
  vertical-align: top;
}

.footer-user-block a {
  display: inline-block;
  font: 300 15px / 36px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer-user-block-login::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  background-position: -20px -68px ;
	width: 15px;
	height: 12px;
}

.footer-user-block-login {
  opacity: 0.7;
}

.footer-user-block-login:hover {
  opacity: 1;
}

.footer-user-block-login:active {
  opacity: 0.3;
}

.footer-user-block-login::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  background-position: -20px -68px ;
	width: 15px;
	height: 12px;
}

.footer-user-block-compare::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  background-position: -70px -70px ;
	width: 10px;
	height: 10px;
}

.footer-user-block-compare {
  opacity: 0.7;
}

.footer-user-block-compare:hover {
  opacity: 1;
}

.footer-user-block-compare:active {
  opacity: 0.3;
}

.footer-user-block-basket::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  background-position: -117px -67px ;
	width: 12px;
	height: 12px;
}

.footer-user-block-basket {
  opacity: 0.7;
}

.footer-user-block-basket:hover {
  opacity: 1;
}

.footer-user-block-basket:active {
  opacity: 0.3;
}

.footer-nav-contacts {
  margin: 0 auto;
  margin-bottom: 70px;
  width: auto;
  font-size: 0;
  text-align: center;
}

.footer-nav-contacts::after {
  content: "";
  display: table;
  clear: both;
}

.footer-nav-contacts p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-address {
  float: left;
  display: inline-block;
  vertical-align: top;
  padding: 5px 5px 5px 0;
  font: 300 15px / 30px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer-nav {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0 auto;
}

.footer-nav-link {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 0;
  font: 800 18px / 21.6px 'Gilroy', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer-nav-link:nth-of-type(3) {
  margin-right: 0px;
}

.footer-phone {
  float: right;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 5px 5px;
  font: 300 15px / 30px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer-social {
  margin: 0 auto;
  width: auto;
  font-size: 0;
  text-align: center;
}

.footer-social::after {
  content: "";
  display: table;
  clear: both;
}

.footer-social-items {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.social-btn::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
}

.social-btn-fb::before {
  background-position: -155px -55px;
	width: 40px;
	height: 40px;
}

.social-btn-insta::before {
  background-position: -205px -55px;
	width: 40px;
	height: 40px;
}

.social-btn-twi::before {
  background-position: -255px -55px;
	width: 40px;
	height: 40px;
}

.footer-copyright {
  float: right;
  display: inline-block;
  vertical-align: baseline;
}
