/*Шапка — Обертка*/
.main-header {
  position: relative;
  z-index: 1;
  width: 100%;
}

/*Шапка - Центровщик*/
.header-container {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0px 60px;
  width: 1160px;
  min-height: 186px;
  background-color: rgba(247, 226, 150, 1);
}

/*Шапка - Лого*/
.header-logo {
  position: relative;
  bottom: 18px;
  width: 163px;
  height: 35px;
  margin-bottom: -5px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}
