.popular-position {
  width: 100%;
}

.popular-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 65px;
  font-size: 0;
}

.popular-items {
  padding: 0;
  margin: 0;
}

.popular-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  width: 160px;
  font-size: 0;
}

.popular-item:last-child {
  margin-right: 0px;
}

.popular-link {
  text-decoration: none;
  text-align: left;
  font: 800 18px / 21.6px 'Gilroy', sans-serif;
  letter-spacing: 0.18px;
  color: rgba(0, 0, 0, 1);
}

.popular-link p {
  margin: 0;
  padding: 0;
}

.popular-link-square {
  position: relative;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.popular-link-square img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.popular-link-square img.popular-img-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.popular-item:hover .popular-link-square {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item:active img {
  opacity: 0.3;
}

.popular-item:active p{
  opacity: 0.3;
}
