.services-position {
  width: 100%;
  margin: 0 auto;
}

.services-back {
  position: absolute;
  top: 1214px;
  width: 100%;
  padding: 0;
  min-height: 288px;
  background-color: rgba(229, 229, 229, 1);
}

.services-container {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 160px;
}

.services-container::after {
  content: "";
  display: table;
  clear: both;
}



.services-items {
  float: left;
  margin-right: 100px;
  width: 280px;
  list-style-type: none;
  border-right: 7px solid black;
}

/*.services-item a {
  display: block;
  padding: 10px;
  font: 800 18px / 21.6px 'Gilroy', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;
}*/



.services-slide {
  float: left;
}

.services-slide-content {

  float: left;
  margin-right: 130px;
  width: 430px;
}

.services-slide-sign {
  float: right;
  margin-top: 50px;
}

.services-slide::after {
  content: "";
  display: table;
  clear: both;
}

.services-img {
  float: right;
}

#services-slider-2 {
  display: none;
}

#services-slider-3 {
  display: none;
}
