.slider-position {
  width: 100%;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

/*Фон в шапке слайдера*/
.slide-hat {
  position: absolute;
  min-width: 1160px;
  min-height: 113px;
  background-color: rgba(247, 226, 150, 1);

}

.slide-indicator {
  position: absolute;
  top: 300px;
  right: 100px;
}

.index-slide {
  position: relative;
  display: none;
  width: auto;
  margin-bottom: 100px;
  padding: 0 60px;
  font-size: 0;
}

.index-slide-active {
  display: block;
}

.slider-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 480px;
}

.slider-img img {
  margin-left: 32px;
}

.slider-content {
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  width: 520px;
  font: 300 15px / 30px 'Open Sans', sans-serif;
  color: #464646;
}

.slider-content a {
  font: 800 18px / 21.6px 'Gilroy', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  text-decoration: none;

}

.btn-wrap {
  margin-bottom: 60px;
}

/*Описание в слайдере*/
.slider-content-txt {
  margin-bottom: 40px;
}

/*Заголовки на главной*/
.index-content-header {
  /*position: relative;*/
  margin: 0;
  margin-bottom: 20px;
  font: 800 47px / 56.4px 'Gilroy', sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

/*Порядковый номер (слайдер)*/
.slider-number {
  position: absolute;
  top: -30px;
  right: 52px;
  font: 800 179.2px / 215.04px 'Gilroy', sans-serif;
  letter-spacing: 1.792px;
  color: #ffffff;
}

/*Слайдер. Таблица*/
.slider-table {
  width: auto;
}

/*Заголовок таблицы (слайдер)*/
.slider-table th {
  padding: 10px;
  padding-left: 0;
  text-align: left;
  font: 300 13px / 20px Open Sans, sans-serif;
  letter-spacing: 0.13px;
  color: #464646;
}

/*Текст в таблице (слайдер)*/
.slider-table td {
  padding: 10px;
  padding-left: 0;
  padding-right: 72px;
  font: 300 36px / 43.2px 'Gilroy', sans-serif;
  letter-spacing: 0.36px;
  color: #000000;
}
