body {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
}

/*Логотип*/
.header-logo {
  font-size: 48px; /*?Точно будем делать текстом?*/
  line-height: 60px;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
  text-transform: capitalize;
}

/*Заголовок (слайдер)*/
.index-content-header {
  font-size: 47px;
  line-height: 57px;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}

/*Порядковый номер (слайдер)*/
.slider-number {
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}

/*Заголовок таблицы (слайдер)*/
th {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
}

/*Текст в таблице (слайдер)*/
td {
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  font-weight: 300;
  font-family: Gilroy, sans-serif;
}

/*Заголовок каталога*/
.main-title {
  font-size: 47px;
  line-height: 57px;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}

/*Заголовок фильтра*/
.filter-title {
  font-size: 16px;
  line-height: 1.2em;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}

/*Заголовок сортировки*/
.catalog-sort-title {
  font-size: 16px;
  line-height: 1.2em;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}

/*Лучше сделать так?
.filter-title,
.catalog-sort-title {
  font-size: 16px;
  line-height: 1.2em;
  color: #000000;
  font-weight: 800;
  font-family: Gilroy, sans-serif;
}
*/
