/*Поле поиска, ссылки: на профиль, войти/выйти, сравнить, корзина*/
.user-block {
  font-size: 0;
  margin: 0 auto;
  margin-bottom: 45px;
  width: auto;


  background-color: rgba(76, 175, 80, 0.3);
}

/*Оформление ссылок*/
.user-block a {
  font: 300 15px / 30px OpenSans, sans-serif;
  color: #464646;
  text-decoration: none;
}

.user-block .btn-search {
  display: none;
}

/*Поле поиска*/
.user-block-search {
  display: inline-block;
  vertical-align: top;
  margin-right: 400px;
}

/*Ссылка войти/выйти*/
.user-block-login {
  display: inline-block;
  vertical-align: top;
  margin-right: 240px;
}

.user-block-person {
  margin-right: 20px;
}

.user-block-logout {
  margin-right: 84px;
}

/*Ссылка сравнить*/
.user-block-compare {
  display: inline-block;
  vertical-align: top;
  margin-right: 78px;
}

/*Ссылка корзина*/
.user-block-basket {
  display: inline-block;
  vertical-align: top;
}
