/*Поле поиска, ссылки: на профиль, войти/выйти, сравнить, корзина*/
.user-block {
  width: auto;
  margin: 0 auto;
  margin-top: 35px;

  background-color: rgba(76, 175, 80, 0.3);
}

/*Поле поиска*/
.user-block-search {
  display: inline-block;
}

/*Ссылка войти/выйти*/
.user-block-login {
  display: inline-block;
  margin-left: 420px;
}

/*Ссылка сравнить*/
.user-block-compare {
  display: inline-block;
  margin-left: 238px;
}

/*Ссылка корзина*/
.user-block-basket {
  display: inline-block;
  margin-left: 65px;
}
